//===========================================================================
//1185
@media (max-width:$md1+px){

}
//992
@media (max-width:$md2+px){
//menu
.menu .container{
    max-width: none;
    padding: 0 10px;
}
//how
.how{
    &__title {
        margin-bottom: 30px;
    }
    & .container{
        max-width: none;
        padding: 0 30px;
    }
}
.how-row{
    &__item {
        flex: 0 0 50%;
    }
    &__item-body {
        margin: 35px 20px 0px 5px;
    }
}
//contacts
.contacts {
    &__map {
        flex: 0 0 60%;
    }
    &__info{
        flex: 0 0 40%;
    }

}
}
//768
@media (max-width:$md3+px){
//!===========================================================================
//burger and menu
body._lock{
    overflow: hidden;
}
.header{
    border-bottom: 1px $color1 solid;
    body._lock &{
        //backdrop-filter: none;
        //background-color:none;
    }
    & .container{
        max-width: none;
        padding: 0 10px;
    }
    &__body {
        height: 70px;
        border-bottom: none;
    }
    &__logo {
        flex: 0 0 80px;
        //body._lock &{
        //    & .img-svg path{
        //            fill: $color1;
        //    }
        //}
    }
    //&__bag-img {
    //    body._lock &{
    //        & .img-svg path{
    //                fill: $color4;
    //        }
    //    }
    //}
    &__burger {
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        z-index: 3;
        & span{
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color1;
            left: 0;
            top: 9px; 
            transition: all 0.3s ease 0s;
        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: $color1;
            left: 0;
            transition: all 0.3s ease 0s; 
            }
        &::before{
            top: 0;
        }
        &::after{
            bottom: 0;
        }
        &._active:before{
            transform: rotate(45deg);
            top:9px;
        }  
        &._active:after{
            transform: rotate(-45deg);
            bottom: 9px;
        }  
        &._active span{
            transform: scale(0);
        }
    }
    &__menu {
        position: fixed;
        overflow: auto;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        backdrop-filter: saturate(180%) blur(20px );
        background-color: rgba(0, 0, 0, 0.72);
        padding: 100px 20px 100px 10px;
        transition: all 0.3s ease 0s;
        //z-index: 6;
        &._active{
            left: 0;
        }
    }

    &__list{
        display: flex;
        flex-direction: column;
        align-items: center;
        & li{
            margin:0px 0px 50px 0px 
        }
    }
    &__link {
        color: $color1;
        letter-spacing: 2px;
        font-weight: 600;
        text-transform: uppercase;
        font-size: 24px;
        &:hover{
            color: $color1;
        }
    }
}
//home
.home{
    &__title{
        font-size: 55px;
        line-height: 55px;
    }
}
//menu
.tabs-content-card {
    padding: 5px;
}
//contacts
.contacts {
    &__map {
        flex: 0 0 55%;
    }
    &__info{
        flex: 0 0 45%;
    }
    &__title {
        font-size: 34px;
        color: $color4;
    }

}
//about
.about {
    &__picture {
        flex: 0 0 100%;
    }

    &__info {
        flex: 0 0 100%;
        padding: 0px 0px 30px 0px;
    }
}
}
//576
@media (max-width:$md4+px){
.title{
    font-size:34px
}
//home
.home{
    &__title{
        font-size: 45px;
        line-height: 45px;
    }
    &__subtitle{
        font-size: 30px;
    }
}
//menu
.menu{
    margin: 60px 0px 0px 0px;
}
.menu-slider{
    position: relative;
    padding: 0;
}
.slick-arrow{
    height: 40px;
    width: 40px;
    margin: -20px 0px 0px 0px;
}
//how
.how{
    margin: 40px 0px 0px 0px;
}
.how-row{
    &__item {
        flex: 0 0 100%;
        margin: 20px 0;
        &:last-child{
            margin-bottom: 0;
        }
        
    }
    &__item-body {
        &:last-child{
            margin: 0;
        }
    }
}
//contacts
.contacts {
    margin: 40px 0px 0px 0px;
    &__map {
        flex: 0 0 100%;
    }
    &__info{
        flex: 0 0 100%;
    }
    &__title {
        font-size: 34px;
        color: $color4;
    }

}
//about
.about{
    margin: 40px 0px 0px 0px;
}
}
